



.about-page{
    width: 100%;
    max-width: 500px;
    height: auto !important;
    min-height: calc(100dvh - var(--nav-height));
    margin: auto;
    border-left: 0.5px solid rgb(54, 54, 54);
    border-right: 0.5px solid rgb(54, 54, 54);
    border-bottom: 0.5px solid rgb(54, 54, 54);
    padding: 35px 15px 30px 15px;
}

.about-page > h1{
    font-size: 2rem;
    font-weight: 500;
    font-family: var(--font-logo);
    line-height: 1.05;
}
.about-page > h2{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-inter);
    margin-top: 10px;
}
.about-page > p{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-inter);
    margin-top: 30px;
    line-height: 23px;
}

.about-page > div{
    margin-top: 30px;
}

.go-to-calendar-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 40px;
    margin: auto;
    margin-top: 30px !important;
    font-family: var(--font-logo);
    font-size: 1.4rem;
    /* text-decoration: underline; */
    border: 1px solid rgb(54, 54, 54);
    border-radius: 4px;
}
.go-to-calendar-button:hover{
    filter: brightness(1.4);
}

.product-hunt-container{
    width: 100%;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
}