


.page{
    width: 100%;
    max-width: 500px;
    height: auto !important;
    min-height: calc(100dvh - var(--nav-height));
    margin: auto;
    border-left: 0.5px solid rgb(54, 54, 54);
    border-right: 0.5px solid rgb(54, 54, 54);
    border-bottom: 0.5px solid rgb(54, 54, 54);
    padding: 35px 15px 30px 15px;
}
.page > h1{
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font-cardo);
    line-height: 1.05;
}
.page > h2{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-inter);
    /* font-family: var(--font-cardo); */
    margin-top: 10px;
}
.page > p{
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-inter);
    /* font-family: var(--font-cardo); */
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 23px;
}


.key-row{
    width: 90%;
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.key-action{}
.key-middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.key-line{
    border-bottom: 1px dotted rgb(54, 54, 54);
    height: 50%;
}
.key-space{
    height: 50%;
}
.key-key{}