


.nav {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0.5px solid rgb(54, 54, 54);
    border-right: 0.5px solid rgb(54, 54, 54);
}
.nav-title {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    /* font-family: var(--font-inter); */
    font-family: var(--font-cardo);
    margin-top: 3px;
}
.nav-title span{
    font-size: 10px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: rgb(161, 161, 161);
}

@media (prefers-color-scheme: light) {
    .nav-title {
    }
    .nav-title span{
        color: rgb(83, 83, 83);
    }
}