


.nav {
    width: 100%;
    max-width: 500px;
    margin: auto;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 0.5px solid rgb(54, 54, 54);
    border-right: 0.5px solid rgb(54, 54, 54);
    border-top: 0.5px solid rgb(54, 54, 54);
}
.nav-left{
    width: 45.5px;
}
.nav-month-container{
    /* padding-left: 15px; */
    width: 45.5px;
    height: 45px;
    display: flex;
    align-items: flex-end;
    /* align-items: center; */
    border-right: 0.5px solid rgb(54, 54, 54);
}
.nav-month{
    font-family: serif;
    font-size: 26px;
    width: 45px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 3px; */
    margin-bottom: 3px;
}
.menu-link-wrapper{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    margin-top: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-link{
    width: 20px;
    height: 20px;
}
.menu-icon{
    width: 20px;
    height: 20px;
    filter: opacity(0.8);
}
.nav-title {
    flex-grow: 1;
    /* width: 170px; */
    /* text-align: center; */
    padding-left: 10px;
    font-size: 26px;
    font-weight: 400;
    font-family: var(--font-logo);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* margin-top: 3px; */
}
@media (min-width: 420px) {
    .nav-title{
        /* position: absolute; */
        /* position: fixed; */
        /* top: 5px; */
        /* left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0px; */

        position: relative; /* This allows the element to scroll with the page */
        left: 40%; /* Move from the left edge to the middle */
        transform: translateX(-50%); /* Pull back by half the element's width */
        text-align: center;
        padding: 0px;
        width: fit-content; /* Only take up as much space as needed */
    }
}
.nav-title-short{
    display: none;
}
.nav-title span{
    font-size: 10px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: rgb(161, 161, 161);
}

@media (prefers-color-scheme: light) {
    .nav-title {
    }
    .nav-title span{
        color: rgb(83, 83, 83);
    }
}

.nav-right{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
    width: 120px;
}
.nav-link{
    width: 30px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-link-wrapper{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-top: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-link{
    width: 17px;
    height: 17px;
}
.about-icon{
    width: 17px;
    height: 17px;
    /* filter: opacity(0.8); */
}
.github-link-wrapper{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-top: 3px;
    overflow: hidden;
}
.github-link{
    width: 17px;
    height: 17px;
}
.github-icon{
    width: 17px;
    height: 17px;
    /* filter: opacity(0.8); */
}


.login-button{
    width: 65px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    /* border: 0.5px solid var(--foreground); */
    background-color: var(--foreground);
    color: var(--background);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 4px;
}
.login-button:hover{
    filter: brightness(1.2);
}
.logout-button{
    width: 70px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    /* border: 0.5px solid var(--foreground); */
    /* border: 0.5px solid #363636; */
    border: 0.5px solid #5e5e5e;
    /* background-color: var(--foreground); */
    background-color: transparent;
    color: var(--foreground);
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 4px;
}


@media (max-width: 340px) {
    .nav-left{
        /* display: none; */
    }
    .nav-title{
        /* padding-left: 10px; */
        display: none;
    }
    .nav-title-short{
        display: flex;
        flex-grow: 1;
        padding-left: 10px;
        font-size: 26px;
        font-weight: 400;
        font-family: var(--font-logo);
    }
}