.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  /* font-family: var(--font-geist-sans); */
  font-family: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}







/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}









.main{
  width: 100%;
  max-width: 500px;
  height: calc(100% - 35px);
  margin: auto;
  border-left: 0.5px solid rgb(54, 54, 54);
  border-right: 0.5px solid rgb(54, 54, 54);
  border-bottom: 0.5px solid rgb(54, 54, 54);
}
.day{
  display: flex;
  border-top: 0.5px solid rgb(54, 54, 54);
  height: calc(100%/7);
  min-height: 60px;
  cursor: pointer;
}
.day-left{
  width: 45px;
  min-width: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-cardo);
}
.day-left-today{
  background-color: rgb(54, 54, 54);
 /* outline: 1px solid green; */
}
@media (prefers-color-scheme: light) {
  .day-left-today{
    background-color: rgb(71, 71, 71);
    color: white;
  }
}
.day-left-date{
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}
.day-left-day{
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin-top: -4px;
}
.day-right{
  flex-grow: 1;
  max-width: 100%;
  /* padding: 5px; */
  border-left: 0.5px solid rgb(54, 54, 54);
  font-size: 1rem;
  font-family: var(--font-inter);
  font-weight: 400;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;

}
.day-right-inner{
  margin: 4px;
  width: 100%;
  /* height: 93%; */
  /* margin-left: 5px; */
  /* margin-right: 5px; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.day-right-inner p{
  min-height: 1rem;
}





.editor-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.editor-date-container{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.5px solid rgb(54, 54, 54);
}
.editor-date-container-today{
  background-color: rgb(54, 54, 54);
}
@media (prefers-color-scheme: light) {
  .editor-date-container-today{
    background-color: rgb(71, 71, 71);
    color: white;
  }
}
.editor-back-button{
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.editor-back-button:hover{
  background-color: rgb(35, 35, 35);
}
.editor-date-container-today .editor-back-button:hover{
  background-color: rgb(85, 85, 85);
}
@media (prefers-color-scheme: light) {
  .editor-date-container-today .editor-back-button:hover{
    background-color: rgb(79, 79, 79);
  }
  .editor-back-button:hover{
    background-color: rgb(244, 244, 244);
  }
  .editor-back-button-icon{
    /* color: rgb(70, 70, 70); */
  }
}
.editor-back-button-icon{
  font-size: 0.95rem;
  cursor: pointer;
}
.editor-date{
  font-family: var(--font-inter);
  font-size: 0.95rem;
  font-weight: 400;
}
.editor-date-spacer{
  width: 35px;
}
.editor-content{
  flex-grow: 1;
  width: 100%;
  border-top: 0.5px solid rgb(54, 54, 54);
  padding: 10px;
}
.done-button-container{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid rgb(54, 54, 54);
}
.done-button{
  width: 90%;
  height: 40px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  .done-button{
    background-color: black;
    color: white;
  }
}